nav.main-menu{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
/*a:link{
    color: black;
}
a:visited{
    color: black;
}*/
a{
    color: black;
}
a:hover{
    background-color: darkgray;
    color: white;
}